

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
    <script src="https://code.highcharts.com/stock/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/indicators/indicators.js"></script>
    <script src="https://code.highcharts.com/stock/indicators/ema.js"></script>
    <!-- <script src="https://code.highcharts.com/css/highcharts.css"></script> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/test2.css"/>
    <script type="text/javascript" src="static/test3.js"></script>

<body>
  <div class="container">
    <h1>doge</h1>
    <a href= "{{url_for('index')}}"><p>charts</p></a>
    <a href= "{{url_for('analysis')}}"><p>models/analysis</p></a>
    <a href= "{{url_for('polarity')}}"><p>polarity/scatter</p></a>

  <div class="col-md-12">

    <div id="container7" style="height: 400px; min-width: 310px"></div>

<p>Each blue data point represents a compound polarity score of aggregated comment scores at hour intervals over the 3-month duration with correlative stock price. </p>
        </div>
        </div>
</head>
</body>


</html>